target/classes/META-INF/maven/es.urjc.em.practica_2018-19/DavidFontelaMonino-JavierHernandezOsuna-CarlosRuizRomero/pom.xml
.settings/org.eclipse.jdt.core.prefs
target/classes/META-INF/MANIFEST.MF
target/classes/META-INF/maven/es.urjc.em.practica_2018-19/DavidFontelaMonino-JavierHernandezOsuna-CarlosRuizRomero/pom.properties
target/classes/static/connectionData.json
